<%- include('../includes/head.ejs') %>    
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
        <main>
            Work in Progress. Nothing there for now!
        </main>   
    <%- include('../includes/end.ejs') %> 
